SECRET_KEY=your-secret-key
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nocode_builder_db
AI_API_KEY=your_api_key_here
AI_BASE_URL=https://api.asi1.ai/v1
AI_MODEL=asi1
VERCEL_TOKEN=your_vercel_token_here
VERCEL_TEAM_SLUG=judes-projects-c0f8fd47
RAILWAY_API_TOKEN=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
