# ─── Environnement virtuel ───────────────────────────────────────────────────
.env
.env.local
venv/
.venv/

# ─── Python ──────────────────────────────────────────────────────────────────
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# ─── Tests ───────────────────────────────────────────────────────────────────
.pytest_cache/

# ─── Alembic ─────────────────────────────────────────────────────────────────
alembic/versions/__pycache__/
alembic/__pycache__/
app/**/__pycache__/

# ─── IDE ─────────────────────────────────────────────────────────────────────
*.code-workspace
.vscode/
.idea/

